.menuLayout {
    height: 100%;
    width: 320px;
    background: #edfbc4;
    label {
        font-weight: 500 !important
    }
}

.ui.dropdown .menu .active.item {
    font-weight: 500 !important
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}