/*Reset*/
html, body, div 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 微軟正黑體;
}

/*設定高度*/
html,body
{
	height: 100%;
	min-width: 75em;
}
#main
{
	float:right;
	width: 20em;
	text-align: left;
	overflow-y: hidden;
	height: 100%;
	background-color: rgb(196, 237, 225);

}
#calender
{
	width: calc(100% - 20em);
	min-width: 55em;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}
header
{
	padding: 3em 2.25em 0.5em 2.25em;
}
header h1
{
	color: #454842;
	margin: 0em;
}
#subtitle
{
	color: #8A7777;
	font-weight: 900;
}
#table_c
{
	width: 100%;
	max-width: 100%;
	margin-left: 0em;

}
#table_c2
{
	width: 100%;
	max-width: 100%;
	margin-left: 0em;

}

.date_label
{
	text-align: center;

}
.time_label
{
	text-align: center;
}
#table_c tr:nth-child(2n+1)
{
	background-color: #F9F9F9;
}
#table_c tr:nth-child(2n)
{
	background-color: #F4F1F9;
}
#table_c tr:hover
{
	position: absolute:
	background-color: #CCDDDB;
}
.statu
{
	border: 2px solid rgb(255, 255, 255);

}
.statu:hover
{
	background-color: rgb(215, 252, 213);
	
}
#table_c tr:first-child
{
	background-color: rgb(243, 245, 177);
}
.state_choose
{
	background-color: rgb(123, 133, 249);
	text-align: center;
	color: white;
}
#det
{
	padding-left: 2em;
	padding-right: 2em;
}
#have_choose
{
	color: red;
}
#subm
{
	width: 100%;
}
.form-group select
{
	width: 19em;
	padding: 6px 15px 6px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.form-group input
{
	width: 17em;
	padding: 6px 15px 6px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.has_rent
{
	background-color: rgb(233, 173, 173);
}
.has_rent:hover
{
	background-color: rgb(243, 122, 122);
}
#ontop
{
	width: 100%;
	position: absolute;
	top: 0;
}

